<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
        <typeAlias alias="book" type="com.csd.nandai.domain.Book" />
        <typeAlias alias="int" type="java.lang.Integer" />
        <typeAlias alias="user" type="com.csd.nandai.domain.User" />
        <typeAlias alias="orders" type="com.csd.nandai.domain.Orders" />
        <typeAlias alias="detail" type="com.csd.nandai.domain.Orderdetail" />
        <typeAlias alias="admin" type="com.csd.nandai.domain.Admin" />
	</typeAliases>
</configuration>